{% extends 'base.html' %}
{% block content %}
<div class="container mt-5 fs-5">
        <div class="row">
            <div class="col-md-4 offset-4">
                <h3 class="text-danger-emphasis text-center">Login</h3>
                <form method="post" class="p-3 mb-2 bg-secondary text-white" action="{% url 'users:login' %}">
                  {% csrf_token %}
                    <div class="col-mb-3">
                      <label for="email" class="form-label">Email</label>
                      <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required>
                    </div>
                    <div class="col-mb-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                    </div>
                    <input type="submit" class="btn btn-primary w-100 mt-3" value="login">
                  </form>

            </div>

        </div>
    </div>
{% endblock %}